<!-- 
    Navbar Component for Cloudflare Manager
    ---------------------------------------
    This component provides a consistent navigation bar across the web application.

    Structure:
    - The outermost <nav> element uses Bootstrap classes to style and format the navbar.
    - The <a class="navbar-brand"> tag is the leftmost element in the navbar, representing the app's name or logo.
    - The <div class="collapse navbar-collapse"> contains the actual navigation links. 
        - These links are arranged in a list format using <ul> and <li> tags.
        - Each <li> contains an <a> tag, which is a clickable link to various parts of the application.
        - The "ml-auto" class on the <ul> pushes the links to the right side of the navbar.

    Navigation Links:
    - "All URLs" directs the user to the main page that lists all the Cloudflare URLs.
    - "Reactivate URLs" directs the user to a page that lists paused Cloudflare URLs and offers reactivation.
    - "Pending URLs" directs the user to a page that lists all URLs with a "Pending" status.
-->

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <!-- Branding: Cloudflare Manager title or logo -->
    <a class="navbar-brand" href="/">Cloudflare Manager</a>

    <!-- Container for navigation links -->
    <div class="collapse navbar-collapse" id="navbarNav">
        <!-- Navigation links list -->
        <ul class="navbar-nav ml-auto">
            <!-- All URLs Link -->
            <li class="nav-item">
                <a class="nav-link" href="/">All URLs</a>
            </li>

            <!-- Reactivate URLs Link -->
            <li class="nav-item">
                <a class="nav-link" href="/reactivate">Reactivate URLs</a>
            </li>

            <!-- No DNSSEC enabled -->
            <li class="nav-item">
                <a class="nav-link" href="/no_dnssec">Zones Without DNSSEC</a>
            </li>

            <!-- Pending URLs Link -->
            <li class="nav-item">
                <a class="nav-link" href="/pending">Pending URLs</a>
            </li>

        </ul>
    </div>
</nav>